# Auto detect text files and perform LF normalization
* text=auto
# Скрыть ShaderLab и HLSL из полоски языков репозитория
*.shader linguist-vendored
*.hlsl linguist-vendored
*.compute linguist-vendored
*.cginc linguist-vendored
